@media (max-width: 900px){


  .header {
    display: none;
  }
  /* Estilos para el logo */
  .navbar-brand img {
    height: 40px; /* Ajusta el tamaño según sea necesario */
    padding: 0;
  }
  .container-fluid {
    padding-left: 0;
  }
  .navbar {
    position: fixed;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1050;
    background-color: #062735;
    display: block;
  }
  /* Espacio para compensar la barra de navegación fija */
  .content-spacing {
    padding-top: 70px; /* Ajusta este valor según la altura de la barra de navegación */
  }
  .collapse {
    background-color: #062735;
  }
  .navbar-nav {
    background-color: #062735;
  }
  .text-body-emphasis {
    background-color: #062735;
  }
  .nav-menu {
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 10%;
    background-color: #062735;
  }
  .principal {
    width: 100%;
    height: 600px;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(45deg, #4bc9ff 10%, #bddb6b 90%);
    background-size: 300% 300%; /* Aumenta el tamaño para dar espacio al movimiento */
    animation: gradientLoop 6s infinite; /* Define la animación */
  }
  @keyframes gradientLoop {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .principal-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .principal-title h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: start;
    color: white;
  }
  .principal-title p {
    font-size: 0.9rem;
    text-align: start;
    color: white;
  }
  .secondary {
    width: 100%;
    height: 300px;
    background: linear-gradient(45deg,#062735b0 10%, #4bc9ff70 90%), url(/pages/assets/images/proyectos/pexels-fauxels-3184292.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .secondary-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 40px;
  }
  .secondary-content p {
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .secondary-content span {
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .skew-container{
      width: 100%;
      height: auto;
      padding: 0;
  }
  .terciary{
      width: 100%;
      height: 900px;
  }
  .terciary-frame{
      width: 100%;
      height: 100%;
  }
  .terciary-frame iframe{
      width: 100%;
      height: 100%;
  }


  footer {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #062735;
    position: relative;
    z-index: 33333;
  }
  .footer-container {
    width: 100%;
    background-color: #00aebe00;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
  }
  .footer-social p {
    display: none;
  }
  .social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .social-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 120px;
    right: 40px;
    display: none;
    background-color: #062735;
    border-color: #062735;
    border-radius: 50%;
  }

  .gtranslate_wrapper {
    position: absolute;
    z-index: 3;
    bottom: 90px;
  }
}